body {
  margin: 0;
  background: #979797;
}

.image-gallery-slide img {
  width: 100% !important;
  max-height: 500px !important;
}

/* Mobile device */
@media only screen and (max-width: 600px) {
  .image-gallery-slide img {
    width: 100% !important;
    max-height: auto !important;
  }
}